<h1 mat-dialog-title>Edit Profile</h1>
<div mat-dialog-content>
  <form (ngSubmit)="saveChanges()">
    <p></p>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="user.username" name="username" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Bio</mat-label>
      <textarea matInput [(ngModel)]="user.bio" name="bio"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Enter commas-separated interests</mat-label>
      <input matInput [(ngModel)]="user.interestsString" name="interestsString" />
    </mat-form-field>
    
    <input type="file" (change)="onFileSelected($event)" accept=".png, .jpg, .jpeg, .webp, .svg, .heif, .heic" />

    <div mat-dialog-actions>
      <div class="w-full flex justify-end">
        <button mat-button class="cancel" (click)="closeDialog()">Cancel</button>
        <button mat-button class="submit" type="submit">Save</button>
      </div>
    </div>
  </form>
</div>
