<mat-toolbar class="bg-white dark:bg-gray-900 shadow-md">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 w-full flex justify-between items-center">
      <div class="flex-shrink-0">
        <a href="/" class="text-2xl font-bold text-gray-800 dark:text-white">
          Novel App
        </a>
      </div>
      <div class="flex items-center gap-4">
        <ng-container *ngIf="user; else guestMenu">
          <button
            mat-button
            (click)="openCreateModal()"
            class="hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white dark:focus:ring-gray-600 rounded px-4 py-2 border border-gray-300 dark:border-gray-600 text-gray-800 dark:text-white"
          >
          <span class=" text-gray-800 dark:text-white">Post</span>
          </button>
          <a routerLink="/messages" routerLinkActive="text-blue-500" class="flex flex-col items-center hover:text-blue-500 text-gray-800 dark:text-white relative">
            <i class="fas fa-envelope text-2xl"></i>
            <span
              *ngIf="totalUnreadCount > 0"
              class="absolute -top-2 -right-2 bg-blue-500 text-white text-xs font-bold rounded-full w-5 h-5 flex items-center justify-center">
              {{ totalUnreadCount }}
            </span>
          </a>
          <button
            mat-button
            [matMenuTriggerFor]="accountMenu"
            class="flex items-center gap-2 text-gray-800 dark:text-white"
          >
            <i class="fas fa-user h-5 w-5 text-gray-800 dark:text-white"></i>
            <span class="hidden sm:inline text-gray-800 dark:text-white">Account</span>
          </button>
          <mat-menu #accountMenu="matMenu" class="bg-white dark:bg-gray-800">
            <button mat-menu-item disabled *ngIf="userProfile">
                <span class="font-medium text-gray-700 dark:text-white">{{ userProfile.username }}</span>
            </button>
            <button mat-menu-item (click)="navigate('/profile')">
              <i class="fas fa-id-badge mr-2 text-gray-800 dark:text-white"></i> <span class="text-gray-800 dark:text-white">Profile</span>
            </button>
            <button mat-menu-item (click)="handleLogout()">
              <i class="fas fa-sign-out-alt mr-2 text-gray-800 dark:text-white"></i> <span class=" text-gray-800 dark:text-white">Log Out</span>
            </button>
          </mat-menu>
        </ng-container>
        <ng-template #guestMenu>
          <button
            mat-button
            [matMenuTriggerFor]="guestActionsMenu"
            class="flex items-center gap-2 text-gray-800 dark:text-white"
          >
            <i class="fas fa-user h-5 w-5 text-gray-800 dark:text-white"></i>
            <span class="hidden sm:inline dark:text-white">Account</span>
          </button>
          <mat-menu #guestActionsMenu="matMenu" class="bg-white dark:bg-gray-800">
            <button mat-menu-item (click)="navigate('/login')">
              <i class="fas fa-sign-in-alt mr-2 text-gray-800 dark:text-white"></i> <span class=" text-gray-800 dark:text-white">Login</span>
            </button>
            <button mat-menu-item (click)="navigate('/signup')">
              <i class="fas fa-user-plus mr-2 text-gray-800 dark:text-white"></i> <span class=" text-gray-800 dark:text-white">Sign Up</span>
            </button>
          </mat-menu>
        </ng-template>
        <button
          mat-icon-button
          (click)="toggleDarkMode()"
          class="hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white dark:focus:ring-gray-600 rounded-full"
        >
          <i *ngIf="isDarkMode" class="fas fa-sun w-5 h-5 text-gray-800 dark:text-white"></i>
          <i *ngIf="!isDarkMode" class="fas fa-moon w-5 h-5 text-gray-800 dark:text-white"></i>
        </button>
      </div>
    </div>
  </mat-toolbar>
  