<h2 mat-dialog-title>{{ title }}</h2>
<div mat-dialog-content>
  <ul>
    <li *ngFor="let user of data.users" class="mb-2">
      <div class="flex items-center space-x-3">
        <img mat-dialog-close
        [src]="user.profilePicture ? 'http://localhost:4200/assets/' + user.profilePicture : 'https://i.imgur.com/WxNkK7J.png'"
          alt="{{ user.username }}"
          class="w-8 h-8 rounded-full cursor-pointer"
          (click)="navigateToUserProfile(user.id)"
        />
        <span class="cursor-pointer dark:text-white" mat-dialog-close (click)="navigateToUserProfile(user.id)">{{ user.username }}</span>
      </div>
    </li>
  </ul>
</div>
