<div class="p-8 flex flex-col items-center">
    <h1 class="text-2xl font-bold mb-4">Sign Up</h1>
    <form (ngSubmit)="signup()">
      <mat-form-field class="w-full">
        <input matInput [(ngModel)]="email" name="email" placeholder="Email" type="email" required>
      </mat-form-field>
      <mat-form-field class="w-full">
        <input matInput [(ngModel)]="password" name="password" placeholder="Password" type="password" required>
      </mat-form-field>
  
      <div *ngIf="signupError" class="text-red-500 mb-4">
        {{ signupError }}
      </div>
  
      <button mat-raised-button color="primary" class="w-full mt-4" type="submit">Sign Up</button>
    </form>
  
    <div class="mt-4">
      <p class="text-sm text-gray-600">
        Already have an account? 
        <a [routerLink]="'/login'" class="text-blue-500 hover:underline">Log in here</a>
      </p>
    </div>
  </div>
  