/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --background: hsl(0, 0%, 100%);
    --foreground: hsl(222.2, 84%, 4.9%);
    --card: hsl(0, 0%, 100%);
    --card-foreground: hsl(222.2, 84%, 4.9%);
    --popover: hsl(0, 0%, 100%);
    --popover-foreground: hsl(222.2, 84%, 4.9%);
    --primary: hsl(222.2, 47.4%, 11.2%);
    --primary-foreground: hsl(210, 40%, 98%);
    --secondary: hsl(210, 40%, 96.1%);
    --secondary-foreground: hsl(222.2, 47.4%, 11.2%);
    --muted: hsl(210, 40%, 96.1%);
    --muted-foreground: hsl(215.4, 16.3%, 46.9%);
    --accent: hsl(210, 20.0%, 98.0%);
    --accent-foreground: hsl(222.2, 47.4%, 11.2%);
    --destructive: hsl(0, 84.2%, 60.2%);
    --destructive-foreground: hsl(210, 40%, 98%);
    --destructive-hover: hsl(0, 84.2%, 50.2%);
    --constructive: hsl(217, 91.2%, 59.8%);
    --constructive-foreground: hsl(210, 40%, 98%);
    --constructive-hover: hsl(224, 76.3%, 48%);
    --border: hsl(214.3, 31.8%, 91.4%);
    --input: hsl(214.3, 31.8%, 91.4%);
    --ring: hsl(222.2, 84%, 4.9%);
    --radius: 0.5rem;
    --chart-1: hsl(12, 76%, 61%);
    --chart-2: hsl(173, 58%, 39%);
    --chart-3: hsl(197, 37%, 24%);
    --chart-4: hsl(43, 74%, 66%);
    --chart-5: hsl(27, 87%, 67%);
  }
  
  .dark {
    --background: hsl(222.2, 84%, 4.9%);
    --foreground: hsl(210, 40%, 98%);
    --card: hsl(222.2, 84%, 4.9%);
    --card-foreground: hsl(210, 40%, 98%);
    --popover: hsl(222.2, 84%, 4.9%);
    --popover-foreground: hsl(210, 40%, 98%);
    --primary: hsl(210, 40%, 98%);
    --primary-foreground: hsl(222.2, 47.4%, 11.2%);
    --secondary: hsl(217.2, 32.6%, 17.5%);
    --secondary-foreground: hsl(210, 40%, 98%);
    --muted: hsl(217.2, 32.6%, 17.5%);
    --muted-foreground: hsl(215, 20.2%, 65.1%);
    --accent: hsl(215, 27.9%, 16.9%);
    --accent-foreground: hsl(210, 40%, 98%);
    --destructive: hsl(0, 62.8%, 30.6%);
    --destructive-foreground: hsl(210, 40%, 98%);
    --destructive-hover: hsl(0, 62.8%, 20.6%);
    --constructive: hsl(217, 91.2%, 59.8%);
    --constructive-foreground: hsl(210, 40%, 98%);
    --constructive-hover: hsl(224, 76.3%, 48%);
    --neutral: hsl(217.2, 32.6%, 17.5%);
    --neutral-foreground: hsl(217, 19.1%, 26.7%);
    --neutral-hover: hsl(217.2, 32.6%, 27.5%);
    --border: hsl(217.2, 32.6%, 17.5%);
    --input: hsl(217.2, 32.6%, 17.5%);
    --ring: hsl(212.7, 26.8%, 83.9%);
    --chart-1: hsl(220, 70%, 50%);
    --chart-2: hsl(160, 60%, 45%);
    --chart-3: hsl(30, 80%, 55%);
    --chart-4: hsl(280, 65%, 60%);
    --chart-5: hsl(340, 75%, 55%);
  }
  
  * {
    border-color: var(--border);
  }

  html, body {
    height: 100%;
  }
  
  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--background);
    color: var(--foreground);
  }

  .mat-form-field-appearance-outline .mat-mdc-text-field-wrapper {
    background-color: var(--accent);
    border-radius: 5px;
    color: var(--accent-foreground)!important; /* add background and foreground color to mat inputs */
  }

  .mat-mdc-dialog-surface {
    background-color: var(--background)!important;
    color: var(--background-foreground)!important; /* add background and foreground color to mat dialogs */
  }

  .mat-mdc-input-element, .mat-mdc-dialog-container .mdc-dialog__title {
    color: var(--accent-foreground)!important; /* make input text visible in dark mode */
  }

  .mdc-floating-label {
    color: var(--accent-foreground) !important; /* make input labels visible in dark mode */
  }

  .mdc-notched-outline__notch{
    border-right: none; /* remove right border tailwind conflict on mat inputs outline */
  }

  .cdk-overlay-pane {
    max-width: 100%!important; /* make full-width dialogs take up all available space */
  }

  .mat-dialog-content {
    padding: 20px;  /* add padding aroung inputs for full-width dialogs */
  }

  .full-width {
    width: 100%; /* make inputs take up all available space in smaller dialogs */
  }
  
  /* add custom styles for the dialog actions */
  .mat-mdc-dialog-actions div .submit {
    background-color: var(--constructive);
    color: var(--constructive-foreground);
  }

  .mat-mdc-dialog-actions div .cancel {
    background-color: var(--background);
    color: var(--foreground);
  }
  
  .mat-mdc-dialog-actions div .submit:hover {
    background-color: var(--constructive-hover);
  }

  .mat-mdc-dialog-actions div .cancel:hover {
    background-color: var(--secondary); 
  }